body {
	background-color: lightpink;
	background-image: url("yoda.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
}

h1{
	text-align: center;
	font-family: "Comic Sans MS";
	font-size: 30pt;
	color: darkred;
}

h2{
	word-spacing: -10px;
}

h3{
	color: aliceblue;
	font-variant-caps: all-small-caps;
}

p{
	font-family: fantasy;
	text-shadow: 1px 1px blue;
}

